body {
    margin: 0
}

#navbar {
    padding: 8px 10px;
    color: white;
    background-color: #222222
}

#nav-dropdown-btn {
    height: 40px;
    text-align: right
}

#nav-dropdown-btn img {
    width: 40px;
    height: 40px
}

#nav-dropdown-list {
    display: none
}

.nav-item {
    padding: 8px;
    font-size: 20px;
    font-weight: 500
}

.nav-item.logo {
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: 700;
    text-align: center
}

.nav-item:not(.logo) {
    border-top: 1px solid rgb(131, 131, 131)
}

#main {
    padding: 30px 16px
}
